<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Index</h3>

    {% if user.is_authenticated %}
    <h4>Bienvenido {{ user }}</h4>
    <a href="/logout">Cerrar sesión</a>
    {% else %}
    <h4>No has iniciado sesión.</h4>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.data }}
        <input type="submit" />
    </form>
    
    {% endif %}

</body>

</html>