<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Recurso Protegido</h3>
    <p>Bienvenido/a {{ user }}</p>
    {% if user.is_superuser %}
        <p>{{data}}</p>
        <a href="{% url 'administradores' %}">Página administradores</a>
    {% else %}
        <p>Eres un usuario estándar.No tienes permiso para acceder a la página de administración del sitio.</p>
    {% endif %}
    <a href="/logout">Cerrar Sesión</a>
</body>
</html>